<ion-header>
  <ion-toolbar>
      <ion-icon (click)="Treino()" slot="start" name="arrow-back" class="volta"></ion-icon>
    <ion-title>Índice de massa corporal:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <h1 style="text-align: justify;">
        Para calcular seu IMC, digite seu peso (kg) e sua altura (m).
      </h1>
    </ion-card-content>
  </ion-card>
  <ion-list>

    
    
    <ion-item>
      <ion-label floating>
        Digite seu peso:
      </ion-label>
      <ion-input type="number" (input)="peso = $event.target.value" placeholder="0.00"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        Digite sua altura:
      </ion-label>
      <ion-input type="number" (input)="altura = $event.target.value" placeholder="0.00"></ion-input>
    </ion-item>

  </ion-list>

  <ion-row>
    <ion-col>
      <button expand="full" class="btn btn-primary btn-block" (click)="calcular()">CALCULAR</button>
    </ion-col>
  </ion-row>






  <br>

  <div *ngIf="imc > 0">
    <ion-card>
      <ion-card-header>
        Seu IMC é de: {{ imc }}
      </ion-card-header>
      <ion-card-content>
        <p>
          <ion-icon margin="5px" name="md-thumbs-up"></ion-icon>Situação: {{ condicao }}
        </p>
        <br>
        <p>
          <ion-icon margin="5px" name="md-send"></ion-icon>IMC saudável fica entre 18,5 e 25.
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer>

  <ion-button expand="full" (click)="Treino()">
    Concluido
  </ion-button>

</ion-footer>