<ion-header>
  <ion-toolbar color="">

    <ion-icon (click)="CorpoInteiro()" slot="start" name="arrow-back" class="volta"></ion-icon>

    <ion-title>COMEÇANDO TREINO</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content>
  <p>FLEXÕES</p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>MMMM</ion-label>
          <ion-datetime displayFormat="MMMM" value="2012-12-15T13:47:20.789"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-icon name="clock" class="centro"></ion-icon>
      </ion-col>

    </ion-row>
    <ion-progress-bar value="0.1"></ion-progress-bar>
  </ion-grid>

  <img src="../../assets/imagens/treino1.gif" class="tam">

  <p>EXERCICIO 1</p>

</ion-content>