.volta{
    width: 50px;
    height: 30px;
    color: black;
  }

  ion-title{
    color: black;
}
.escolha{
  width: 200px;
  height: 200px;
  margin-left: 100px;
}
.center{
  text-align: center;
}
.tam{
  width: 70px;
  height: 50px;
}