.volta{
    width: 50px;
    height: 30px;
    color: black;
  }
  ion-title{
    color: black;
    text-align: start;
    font-family: Impact;
    font-size: 35px;
  }
  .escolha{
  width: 70px;
  height: 70px;
  }
  
  .baixo2{
  margin-top: 5px;
  }
  
  .baixo{
  margin-top: 20px;
  }
  
  .cent{
  margin-left: 70px;
  
  color: black;
  font-size: 25px;
  font-family: Impact;
  }
  
  
  .cor{
  color: blue;
  }
  
  