<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="start" name="contact" class="iconeconf" (click)="Perfil()"></ion-icon>
    <div class="div2">
      <ion-title>
        <img src="../../assets/imagens/logo2.png" class="logo">
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<div>
  <ion-toolbar color="medium">
    <ion-title>Escolha sua opção</ion-title>
  </ion-toolbar>
</div>

<ion-content padding>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/imagens/roda-alimento.png" class="escolha">
          <h3>Alimentação</h3>
          <h6>Faça seus pedidos</h6>
          <ion-button expand="block" size="default" color="dark" (click)="Home()">Ir</ion-button>
        </ion-col>
        <ion-col>
          <img src="../../assets/imagens/nutricionista.png" class="escolha">
          <h3>Nutricionista</h3>
          <h6>Faça sua consulta</h6>
          <ion-button expand="block" size="default" color="dark" (click)="ListaDeNutricionistas()">Ir</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="../../assets/imagens/exercicio.png" class="escolha">
          <h3>Exercicios Físicos</h3>
          <h6>Faça seus exercicios</h6>
          <ion-button expand="block" size="default" color="dark" (click)="Treino()">Ir</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>