<ion-header>
  <ion-toolbar>

    <ion-icon (click)="Instrucoes()" slot="start" name="arrow-back" class="volta"></ion-icon>

    <ion-title>Corpo Inteiro</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card class="baixo">
    <ion-item>
      <img src="../../assets/imagens/treino1.gif" slot="start" class="escolha">
      <p>Faça a flexão com sua mão direita no chão e sua
        mão esquerda em cima do degrau ou caixa.</p>
    </ion-item>
  </ion-card>

  <ion-card class="baixo2">
    <ion-item>
      <img src="../../assets/imagens/treino2.gif" slot="start" class="escolha">
      <p>Coloca as mãos esticadas no chão à altura dos ombros,
        um pouco mais largo do que a largura dos ombros.</p>
    </ion-item>
  </ion-card>

  <ion-card class="baixo2">
    <ion-item>
      <img src="../../assets/imagens/treino3.gif" slot="start" class="escolha">
      <p>você deverá deitar de barriga para cima, afastar um pouco as pernas e flexionar os joelhos, mantendo os pés bem
        apoiados no chão.
        Mantenha as mãos ao lado da cabeça e eleve moderadamente o tronco, </p>
    </ion-item>
  </ion-card>

  <ion-card class="baixo2">
    <ion-item>
      <img src="../../assets/imagens/treino4.gif" slot="start" class="escolha">
      <p>Segure um halter em cada mão e dê um passo à frente, afundando
        o quadril e flexionando os joelhos. Repita com a outra perna.
        Atenção! O joelho da frente não deve passar da linha dos pés</p>
    </ion-item>
  </ion-card>

  <ion-card class="baixo2">
    <ion-item>
      <img src="../../assets/imagens/treino5.gif" slot="start" class="escolha">
      <p>pegar a barra com os pesos com as duas mãos a uma distância igual à largura dos ombros.
        Em seguida, inclinar o tronco para frente, formando um ângulo de 45º em relação ao chão. Após,
        puxar a barra para cima, no sentido vertical, até que ela toque a parte inferior do peito.
        Durante esse movimento, manter a coluna vertebral reta e os joelhos levemente dobrados.</p>
    </ion-item>
  </ion-card>
</ion-content>