ion-title{
    color: black;
}

.volta{
    width: 50px;
    height: 30px;
    color: black;
  }
  
  .cor{
    color: white;
  }

  .ins{
    color: black;
  }
 
  .color{
    background-color: black;
  }

  
  p{
    text-align: center;
    font-size: 18px;
    color: black;
  }

  .tt{
    font-family: Impact;
    font-size: 18px;
  }
  .pp{
    color: black;
  }