.volta{
    width: 50px;
    height: 30px;
    color: white;
  }
  ion-title{
    color: white;
    text-align: start;
    font-family: Impact;
    font-size: 35px;
}
.escolha{
  width: 70px;
  height: 70px;
}

.baixo2{
  margin-top: 5px;
}

.baixo{
  margin-top: 20px;
}

.cent{
  margin-left: 70px;
  
  color: white;
  font-size: 25px;
  font-family: Impact;
}
.fundoA{
  margin-top: 2px;
  --background: url(../../assets/imagens/corpo.jpg);  
   height: 150px;
}

.cor{
  color: blue;
}

