.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.logo{
  width: 340px;
  height: 240px;
  margin-top: 50px;
  margin-bottom: 20px;
}


div{
  text-align: center;
}

.iconeconf{
  width: 50px;
  height: 30px;
}

ion-title{
  font-family: Monotype Corsiva;
  font-size: 32px;
  text-align: center;
}

ion-content {
  --background: #F8F8FF;
}

p{
  font-size: 20px;
}

.senha{
  margin-bottom: 15px;
}

.botaologar{
  margin-bottom: 10px;
}

