<ion-header>
    <ion-toolbar>
  
      <ion-icon (click)="Instrucoes()" slot="start" name="arrow-back" class="volta"></ion-icon>
  
      <ion-title>Treino de glúteos</ion-title>
  
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content>
  
    <ion-card class="baixo">
      <ion-item>
        <img src="../../assets/imagens/treino11.gif" slot="start" class="escolha">
        <p>Faça a flexão com sua mão direita no chão e sua
          mão esquerda em cima do degrau ou caixa.</p>
      </ion-item>
    </ion-card>
  
    <ion-card class="baixo2">
      <ion-item>
        <img src="../../assets/imagens/treino12.gif" slot="start" class="escolha">
        <p>Coloca as mãos esticadas no chão à altura dos ombros,
          um pouco mais largo do que a largura dos ombros.</p>
      </ion-item>
    </ion-card>
  
  
  </ion-content>